<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">
              <img src="/public/portrait.jpg"/>
              {{ site.title }}
            </a>
          </h3>
          <ul class="nav">
            <li><a href="{{ site.baseurl }}/" title="About">About</a></li>
            <li><a href="{{ site.baseurl }}/blog" title="Blog">Blog</a></li>
          </li>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
